.container-fluid
  %h1.page-header About
  %p This web app was created in the Calgary Regional Hackathon by three brunch-loving, adventure-taking people who would love it if you followed them on Twitter.
  %p As the great computer scientist Marilyn Manson once said “Well behaved women rarely make history”. With our minds clear and our hearts full we set out to create a series of exhilarating adventures in order to encourage fellow Albertans to take advantage of this beautiful province and its myriad of open data. This weekend we would shirk all of our responsibilities and misbehave in the hopes of carving our spot in the computer science textbooks of the future.
  %p Disclaimer: Five caesers, seven beers, two old fashioned’s, and a singe bottle of rose were consumed during the making of this site.
  %p A little bit about each member of the team:
  %p Hussein has, by far, the best sense of smell on this side of the Rockies. He is a modern stamp-collecting legend and prefers buns to bagels except in the case of BLTs. Hussein primarily writes code using Microsoft Access and VBA because he loves “the smooth and practical feel”.
  %p Ian likes wearing hoodies. Ian loves talking in third-person. Ian enjoyed writing his own personal description and can’t wait until it’s socially acceptable to play holiday music again!!!
  %p Katy is an avid rabbit-hunter and has the innate ability to make stupid jokes even stupider. Her favourite animal is the trumpet sloth which has a resting heart rate of 19 BPM and typically green or hazel eyes. She also loves girl-guide cookies with all the fervour of a blue monster, choosing to hoard those mint-chocolatey ones over any other type
  %p Hussein abstained.
